[Desktop Entry]
Encoding=UTF-8
Name=FlavaCoin
Comment=FlavaCoin P2P Cryptocurrency
Comment[fr]=FlavaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FlavaCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/flavacoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/flavacoin;
Categories=Office;
